<!DOCTYPE html>
<html>
<head>
	<title>#itians unITed</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<style type="text/css">
	img {
    image-orientation: from-image;
}
</style>
</head>
<body>

	<nav class="navbar navbar-dark bg-dark">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="/home">unITed</a>
    		</div>
    		<ul class="nav navbar-nav navbar-right">
      			<li><a href="/changepassword"><font color="white">Change Password</font></a></li>
      			<li><a href="/logout"><font color="white">Logout</font></a></li>
    		</ul>
  		</div>
	</nav>
	<br><br>
	<div class="container" id="people">
		
	</div>


<script type="text/javascript">
	
	function populates(docs)
	{
		
		$.each(docs, function (i) {
          if(i%3==0)
			{	$("#people").append('</div><br><div class="row" id="row'+i.toString()+'"></div>');
				rownum=i;
			}
			var imgfile;

    		$("#row"+rownum.toString()).append('<div class="col"><a href="/profile/'+docs[i]._id+'"><div class="card" style="width: 18rem;"><img class="card-img-top img-responsive" src="./profile_pics/'+docs[i]._id+'.jpg"> <div class="card-body"><h5 class="card-title">'+docs[i].name+'</h5></div></div></a></div>');
        });
		
	}

	$(document).ready(function(){
		$.ajax({
                  type: "POST",
                  url: "/fetchall",
                  success: function(docs) {
                    populates(docs);
                },
                error: function(jqXHR, textStatus, err) {
                 alert("Error.. Please restart the application");
                }
            });
		

	});
</script>
</body>
</html>
