<!DOCTYPE html>
<html>
<head>
  <title>#itians unITed</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style type="text/css">
  .btn {
  background-color: #cc0000;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
.btn:hover {opacity: 1}
textarea {
  height:50%;
}
.form-control:focus {
  border-color:   #fb4f14;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}


</style>
<body>

  <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">unITed</a>
        </div>
        
      </div>
  </nav>
  <br><br>
  <form method="post" action="/login">
  <div class="container">
    <div class="form-group">
    <label for="id">Enter User ID</label>
    <input type="text" class="form-control" id="rollno" name="rollno">
    </div>
     <div class="form-group">
    <label for="pwd">Enter Password:</label>
    <input type="password" class="form-control" id="password" name="password">
    </div>
    <input type="submit" class="btn" value="Login" style="opacity:1">
    </div>
    </form>
</body>
</html>
